#Analytic Hierarchy Process

#####Egy Vedriyanto ( 2117051035 )
Class B

AHP (Analytic Hierarchy Process) adalah sebuah metode yang digunakan dalam pengambilan keputusan multi-kriteria. Metode ini dikembangkan oleh Thomas L. Saaty dan digunakan untuk mengurutkan dan memilih opsi terbaik dari beberapa kriteria yang saling terkait.

AHP melibatkan tahapan-tahapan berikut:

- Merumuskan masalah pengambilan keputusan.
- Membuat hierarki kriteria dengan menentukan kriteria utama dan sub-kriteria yang relevan.
- Membuat matriks perbandingan berpasangan (pairwise comparison) untuk menilai tingkat kepentingan antara setiap pasangan kriteria dan sub-kriteria.
- Menghitung bobot relatif (priority weight) dari setiap kriteria dan sub-kriteria.
- Menggunakan bobot relatif untuk menghitung skor total dari setiap opsi yang dinilai.
- Menentukan opsi terbaik berdasarkan skor total yang diperoleh.

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import normalize

Studi Kasus : Memilih SmartPhone baru

Terdapat 3 kriteria dari smartphone yang akan dinilai, diantaranya 
*   Performa 
*   Kualitas Kamera 
*   Harga

Skor prioritas utama = 8-3-5

Lalu, ada 3 opsi merk SmartPhone yang akan di evaluasi, diantaranya
*   Samsung
*   Poco
*   Realme

P = Performa;
K = Kualitas Kamera;
H = Harga;

---
Samsung 
*   P = 8
*   K = 8
*   H = 3

Poco
*   P = 9
*   K = 6
*   H = 4

Realme
*   P = 7
*   K = 7
*   H = 5

In [2]:
def calc_prior(features, total_point):
    n = len(features[0])
    ahp_matrix = np.ones([n, n])

    for i in range(0, n): # baris
        for j in range(0, n): # kolom
            if(i < j):
                if(i == 0):
                    ahp_matrix[i, j] = float(features[1][j-1])
                    ahp_matrix[j, i] = float(1/features[1][j-1])
                else:
                    if(ahp_matrix[0, j] < ahp_matrix[0, i]):
                        ahp_matrix[i, j] = float(1/((ahp_matrix[0, i] - ahp_matrix[0, j]) + 1))
                    else:
                        ahp_matrix[i, j] = float((ahp_matrix[0, j] - ahp_matrix[0, i]) + 1)
                    ahp_matrix[j, i] = float(1/ahp_matrix[i,j])

    normalized_matrix = normalize(ahp_matrix, axis=0, norm="l1")
    weight = normalized_matrix.mean(1)

    points = total_point * weight

    return dict(zip(features[0], points))

In [7]:
# Menghitung skor prioritas utama (kriteria)
main_dict = calc_prior([['Performa', 'Kualitas Kamera', 'Harga'], [8, 3, 5]], 1)
main_dict

{'Performa': 0.6463492063492065,
 'Kualitas Kamera': 0.06412698412698413,
 'Harga': 0.2895238095238095}

In [14]:
# Menghitung skor prioritas berdasarkan performa tiap smartphone
perform_dict = calc_prior([['Poco', 'Realme', 'Samsung'], [9, 7, 8]], 1)
perform_dict

{'Poco': 0.7765920155793573,
 'Realme': 0.06851022395326194,
 'Samsung': 0.1548977604673807}

In [15]:
# Menghitung skor prioritas berdasarkan kualitas kamera tiap smartphone
quality_dict = calc_prior([['Samsung', 'Poco', 'Realme'], [8, 6, 7]], 1)
quality_dict

{'Samsung': 0.7530140110785273,
 'Poco': 0.07518735744542197,
 'Realme': 0.17179863147605082}

In [16]:
# Menghitung skor prioritas berdasarkan harga tiap smartphone
price_dict = calc_prior([['Realme', 'Samsung', 'Poco'], [5, 3, 4]], 1)
price_dict

{'Realme': 0.633345720302242,
 'Samsung': 0.1061563235476279,
 'Poco': 0.26049795615013005}

In [17]:
# Membuat dataframe dari skor prioritas smartphone berdasarkan kriteria
df = pd.DataFrame([perform_dict, quality_dict, price_dict])
df.index = main_dict.keys()
df

                     Poco    Realme   Samsung
Performa         0.776592  0.068510  0.154898
Kualitas Kamera  0.075187  0.171799  0.753014
Harga            0.260498  0.633346  0.106156

In [18]:
# Menambahkan total skor
total = df.sum()
total.name = 'Total Score'
df = pd.concat([df, total.to_frame().T])
df

                     Poco    Realme   Samsung
Performa         0.776592  0.068510  0.154898
Kualitas Kamera  0.075187  0.171799  0.753014
Harga            0.260498  0.633346  0.106156
Total Score      1.112277  0.873655  1.014068

Kesimpulan yang bisa diambil dari skor akhir adalah memilih Poco Phone sebagai smartphone baru.
Terima Kasih.